@model SSLS.Domain.Concrete.Book


<tr>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Press
    </td>
    <td>
        @Model.Authors
       


    </td>
    <td>
        @Ajax.ActionLink("添加", "AddToCart", "Cart", new { id=Model.Id,  returnUr=""}, new AjaxOptions()
   {
       HttpMethod = "post",
       //更新的控件id

       //更新方式
       OnSuccess = "suc"
   }, new { @class = "badge badge-warning"})
    </td>

</tr>

